body {
  font-family: arial, sans-serif;
  padding-top: 20px;
}

h1, h2 {
  text-align: center;
  margin: 0 0 20px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.burndown-wrapper {
  width: 45%;
}